/*Global Style*/
.section-title{
  display: block;
  color: #002251;
  padding: 0px 10%;
}

li{
  display: flex;
  list-style-type: none;
  line-height: 1.5;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }

  .logo{
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
  }

.logo:hover{
  border-bottom: #000 1px solid;
}

.hero-title button{
  background-color: #45454;
  border-radius: 5%;
  width: 150px;
  height: 50px;
  font-weight: 800;
}

.hero-title button:hover{
  background-color: #7777;
  cursor: pointer;
}

.nav-menu li, a {
    display: inline-block;
    padding: 0px 20px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #000;
  }

.nav-menu li:hover{
  color: blue;
  border-bottom: #000 1px solid;
}
  .hero-title{
    display: block;
    padding: 200px;
    margin: 0px;
    line-height: 1.0;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
  }

 .hero-ln-1{
    font-size: 25px;
  }

.hero-ln-2{
    font-size: 30px;
  }

  .hero-ln-3{
    font-size: 30px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

.hero-par{
  display: flex;
  padding: 10px 10%;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px #000 solid;
  background-color: pink;

}

/* About me Style */
.aboutme-container{
  display: flex;
  justify-content: center;
  height: 500px;
  padding: 0 10% 50px 10%;
}

.aboutme-row{
  display: flex;
  background: #f2f2f2;
  width: 100%;
  padding: 25px;
}

.aboutme-row p{
  color: #000;
  line-height: 1.5;
}
.aboutme-row2{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

/* Project Styling */

.projects-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 600px;
  padding: 0 10% 50px 10%;
  margin-bottom: 50px;
}

.project-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 20px;
  margin: 10px;
}

.project-card p{
  display: flex;
  justify-content:flex-start;
  color: #000;
}

.project-card img {
  display: flex;
  width: 300px;
  height: 200px;
  border: 1px solid #000000;
}

.tech-stack{
  display: flex;
  width: 100%;
  font-weight: 600;
}

.tech-stack ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech-stack img{
  height: 32px;
  width: 32px;
  border-style: none;
  padding-right: 20px;
  padding-top: 10px;
}

/*Contact Me form */
input[type=text], select, textarea {
  width: 100%;
  padding: 20px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #002251;
  color: white;
  padding: 20px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #074baa;
}


.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact-container{
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 20px 10%;
}

.contact-container h1 {
  display: flex;
  justify-content: center;
}

/* Footer */
.footer{
  display: flex;
  background-color: #002251;
  justify-content: center;
  padding: 10px;
}

.footer a, p{
  text-decoration: none;
  color: #ccc;
  cursor: pointer;
}